/* styles.css */
body{
  background-image: url('https://img.freepik.com/vecteurs-libre/neon-direction-fleche-perspective_1017-22033.jpg?w=996&t=st=1681808856~exp=1681809456~hmac=5f5001a93fdd10506c6fe209de44912b923aa212dcac515104dbb659bd79bc99');
  /* border-radius: 5px; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Style for the container div */
@font-face {
  font-family: "Press Start 2P";
  src: url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.eot");
   src: url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.eot?#iefix") format("embedded-opentype"), 
   url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.woff") format("woff"),
     url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.ttf") format("truetype"), 
     url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.svg#Press Start 2P") format("svg");
     }

.container {
    padding: 20px;
    /* background-color: #656565; */
    
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;

  }
  .gamerName {
    color: red;
  }
  .bestplayersContainer {
    display: inline-block; /* Définit le conteneur en tant qu'élément en ligne avec un bloc autour de son contenu */
    float: right; /* Définit la position à droite de l'écran */
    margin-right: 20px; /* Ajoute une marge de 20 pixels à droite pour espacer du bord de l'écran */
    color: rgb(194, 194, 194);
  }
  
  .bestplayersClass {
    border: 1px solid black; /* Définit une bordure de 1 pixel de largeur en noir */
    padding: 10px; /* Ajoute une marge interne de 10 pixels pour espacer les éléments du cadre */
    position:relative;
  }
  .playersClass{
    padding: 20px;
    background-color: #322a865f;
    border: 2px solid #0b052853;
    border-radius: 5px;
    text-align: center;
    color: rgb(189, 188, 188);

  }
  /* Style for the h1 element */
  h1 {
    font-size: 24px;
    color: #ffffff;
    position: relative;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
  }
  
  /* Style for the player item div */
  .player-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #322a865f;
    border: 1px solid #0b052853;
    border-radius: 3px;
  }
  
.button {
  /* background-color: #e74c3c; */
  /* color: #fff; */
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  font-family: 'Press Start 2P', sans-serif;
}

.button:hover {
  /* background-color: #0d0664; */
  /* color: white; */
  cursor: pointer;
}

.buttonDelete{
  background-color: red;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  font-family: 'Press Start 2P', sans-serif;
  
}

