/* styles.css */
body{
  background-image: url('https://img.freepik.com/vecteurs-libre/neon-direction-fleche-perspective_1017-22033.jpg?w=996&t=st=1681808856~exp=1681809456~hmac=5f5001a93fdd10506c6fe209de44912b923aa212dcac515104dbb659bd79bc99');
  /* border-radius: 5px; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Style for the container div */
@font-face {
  font-family: "Press Start 2P";
  src: url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.eot");
   src: url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.eot?#iefix") format("embedded-opentype"), 
   url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.woff") format("woff"),
     url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.ttf") format("truetype"), 
     url("//db.onlinewebfonts.com/t/f389091962d8dab9ec69c5060e2e023c.svg#Press Start 2P") format("svg");
     }

.container {
    padding: 20px;
    /* background-color: #656565; */
    color: rgb(189, 188, 188);
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;

  }
  .gamerName {
    color: red;
  }
  
  .bestplayersContainer {
    position: absolute;
    top: 0;
    right: 20px;
    color: rgb(194, 194, 194);
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    background-color: #322a86b6;
    margin-top: 40px;
  }
  
  /* .bestplayersClass {
    margin-top: 40px;
    color: blueviolet;
  } */
  
  .playersClass{
    padding: 20px;
    background-color: #322a865f;
    border: 2px solid #0b052853;
    border-radius: 5px;
    text-align: center;
    color: rgb(189, 188, 188);

  }
  /* Style for the h1 element */
  h1 {
    font-size: 24px;
    color: #ffffff;
    position: relative;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
  }
  
  /* Style for the player item div */
  .player-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #322a865f;
    border: 1px solid #0b052853;
    border-radius: 3px;
    color: rgb(189, 188, 188);

  }
  
.button {
  /* background-color: #e74c3c; */
  /* color: #fff; */
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  font-family: 'Press Start 2P', sans-serif;
}

.button:hover {
  /* background-color: #0d0664; */
  /* color: white; */
  cursor: pointer;
}

.buttonDelete{
  background-color: red;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  font-family: 'Press Start 2P', sans-serif;
  
}

